{% extends 'base.html.twig' %}

{% block body %}
    </br>
    <article class="hist">
        <h1> History of the magazine </h1>
        </br>
        <P>
            Astronomy leads the astronomy hobby as the most popular magazine of its kind in the world.
            </br>
        </P>
    </article>
    <article class="creators">
        <h1>Meet the staff</h1>

    </article>
    <h2> Where to find us?
    </h2>

    <p>
        <strong> Our address : 676 INSAT Centre Urbain Nord BP، Tunis Cedex 1080. </strong>
    </p>
    <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3192.9933965381747!2d10.1964696!3d36.8426342!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd34c6d1e93bef%3A0x4153c4733f285343!2sNational%20Institute%20of%20Applied%20Science%20and%20Technology!5e0!3m2!1sen!2stn!4v1618074538496!5m2!1sen!2stn"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
{% endblock %}
{% block assets %} <link href={{ asset('css/about.css')}} rel="stylesheet" />{% endblock %}