{% extends 'base.html.twig' %}

{% block title %}Forgot password{% endblock %}

{% block body %}
    <div style="text-align: center">
        <h1>Forgot Password</h1>
        {{form(emailForm)}}
    </div>
{% endblock %}
