{% extends 'base.html.twig' %}

{% block title %}New Password{% endblock %}

{% block body %}
    <h1>Enter your new Password</h1>
<form class="Reset-form" method="post">
        <input type="hidden" value="{{ token }}" name="token"/>
        <input type="password" placeholder="password" name="password"/>
        <button>submit</button>
{% endblock %}