canvas {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;
}
html, body {
    background-image: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.top-section {
    z-index: -2;
    background-image: none;
    height: 100px;
}
*{
    text-align: center;
}