.gallery img {
    width: 230px;
    padding:15px;
    filter: grayscale(45%);
    transition: 0.5s;
    
    }
    .gallery img:hover {
        filter: grayscale(0);
        transform: scale(1.1);
    }
.title{
    font-family: 'Archivo', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: blueviolet;
    margin-left: 5rem;
}
.imageSet{
 
  justify-content: center;
  margin-left: 8% ;
}