*{
    box-sizing: border-box;
    margin :0;
    padding :0;

}

.top-section {
    background: linear-gradient(rgba(0, 0, 0, 0.29), rgba(0, 0, 0, 0.19)), url("../images/index_bg.jpg");
    z-index: 0;
    background-attachment:fixed ;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: var(--gray);
    transition: opacity 0.1s;
    position: relative;
    height: 300vh;
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    color: #fff;
}
.top-section h1{
    font-family: 'Poiret One', cursive;
    font-size: 60px;
    letter-spacing: 10px;
}
.top-section p{
    font-family: 'Antic', sans-serif;
    font-size: 15px;
    letter-spacing: 8px;
    padding: 5px;
}


header{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
    background: linear-gradient(rgb(10, 10, 10),#0000);
    position: fixed;
    width: 100%;
    transition: 0.5s;
}
#topScreen{
    height: 300px;



}
.gen{
    position: relative;

    overflow: hidden;
}
.logo{
    cursor: pointer;
}
.nav-area{
    list-style: none;

}
.nav-area li {
    display: inline-block;
    padding: 0 20px;
    text-transform: uppercase;
}

.nav-area li a {
    transition: .3s;
    color: #fff;
}

.btn-area{
    cursor: pointer;
    color: #fff;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 5px;
    background: #d22938;
}
.cool-link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;

}
.cool-link:hover::after{
    width:100%;
    transition: width .3s ;
}
a{
    text-decoration: none;
}
.overview{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    font-family: 'Raleway', sans-serif;
}

.overview h3{
    font-size: 30px;
    font-weight: 600;
}
.overview h2{
    font-size: 60px;
    font-weight: 600;
}
.overview p{
    color:#333333;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.overview-col{
flex-basis: 48%;
text-align: left;
margin: 10px;

}
.overview img{
    height: 200px;
    width:auto;
}
