{% extends 'base.html.twig' %}
{% block assets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/journal/bootstrap.min.css">
    <link rel="stylesheet" href={{ asset('css/contactUs.css') }} >

{% endblock %}
{% block title %} Contact {% endblock %}

{% block body %}
    <div class="container">

        <h1>Contact the staff</h1>
    <div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Write to us</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                      {{ form(form) }}
                </div>
            </div>
        </div>
    </div>

    <div class="text-center">
        <a class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalContactForm">Contact Us</a>
    </div>
    <h2> Where to find us?
    </h2>

    <p>
        <strong> Our address : 676 INSAT Centre Urbain Nord BP، Tunis Cedex 1080. </strong>
    </p>
    <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3192.9933965381747!2d10.1964696!3d36.8426342!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd34c6d1e93bef%3A0x4153c4733f285343!2sNational%20Institute%20of%20Applied%20Science%20and%20Technology!5e0!3m2!1sen!2stn!4v1618074538496!5m2!1sen!2stn"
            width="600" height="450" style="border:5px;" allowfullscreen="" loading="lazy"></iframe>
    </div>
{% endblock %}
{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="../../node_modules/ckeditor5-build-balloon/build/ckeditor.js"></script>
    <script src="{{ asset('js/ckeditor.js') }}"></script>
{% endblock %}