<section class="pt-6 pt-md-8">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 d-flex justify-content-center">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="container">
                {{ form(form) }}
            </div>

        </div>
    </div>
</div>

<div class="text-center">
    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modalSubscriptionForm">Add comment</button>

</div>