{% extends 'base.html.twig' %}
{% block assets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/journal/bootstrap.min.css">
{% endblock %}
{% block title %} Replies {% endblock %}
{% block body %}
    <section >
    {% for   reply in replies %}
        <div class="container mb-2">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-9 col-xl-8">
                    <div class="card card-row shadow-light-lg">
                        <div class="row gx-0">
                            <div class="card-body">
                    <blockquote class="mb-0 text-center">
                        <p>{{ reply.content | raw}}</p>
                        <footer class="blockquote-footer">
                            <span class="h6 text-uppercase">Published on {{ reply.createdAt|date("d/m/y h:i")}} By {{ reply.pseudo}}</span>
                        </footer>
                    </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
{% endblock %}