
{% extends 'account_details/user.html.twig' %}

{% block title %} Edit Password{% endblock %}

{% block body %}
<div class="grix xs4 container ">
    <div class="col-xs4">
    <h1>Edit Password</h1>
        <form class="Register-form" action="{{ path('edit_password') }}" method="post">
            <div class="form-field">
                <label class="txt-right hide-xs" for="email">Username</label>
                <input  name ="username" type="text" id="username" class="form-control rounded-1" />

            </div>
            <div class="form-field">
                <label class="txt-right hide-xs" for="Password">Password</label>
                <input name="pass"type="password" id="pass" class="form-control rounded-1 "  />

            </div>
            <div class="form-field">
                <label class="txt-right hide-xs" for="Confirm Password">Confirm Password</label>
                <input name ="Confirm_Pass" type="password" id="confpass" class="form-control rounded-1 " />

            </div>
            <button class="btn shadow-1 rounded-1 blue">Validate </button>
        </form>
    </div>
</div>
    {% for cle, value in  app.session.flashBag.get('error') %}
        <div id="create-account-warning" style="color: hotpink">
            {{ value }}
        </div>
    {% endfor %}
     {% for cle, value in  app.session.flashBag.get('success') %}
         <div id="success" style="color: green">
             {{ value }}
         </div>
    {% endfor %}
{% endblock %}
