{% extends 'account_details/user.html.twig' %}
{% block title %} Edit Password{% endblock %}
{% block main %}
    <div class="col-xs4 container ">
        <h1 style="color: white">Security</h1>
        <form class="Register-form" action="{{ path('edit_password') }}" method="post">
            <div class="form-group">
                <label style="color: white">Old Password</label>
                <input name="oldPass" type="password" class="form-control" placeholder="Type your old password">
            </div>

            <div class="form-group">
                <label style="color: white">New Password</label>
                <input name="pass" type="password" class="form-control" placeholder="Type your new password"  minlength="8" required>
            </div>

            <div class="form-group">
                <label style="color: white">Confirm Password</label>
                <input name="confirmPass" type="password" class="form-control" placeholder="Confirm your new password">
            </div>
            <button type="submit" class="btn btn-primary">Validate Changes</button>
        </form>
        {% for cle, value in  app.session.flashBag.get('error') %}
            <div class="alert alert-danger">
                {{ value }}
            </div>
        {% endfor %}
    </div>

{% endblock %}
