
{% extends 'account_details/user.html.twig' %}
{% block title %} Edit Password{% endblock %}
{% block main %}

    <div class="col-xs4 container ">
    <h1>Edit Password</h1>
        <form class="Register-form" action="{{ path('edit_password') }}" method="post">
            <div class="form-field">
                <label class="txt-right hide-xs" for="email">Username</label>
                <input  name ="username" type="text" id="username" class="form-control rounded-1" />

            </div>
            <div class="form-field">
                <label class="txt-right hide-xs" for="Password">Password</label>
                <input name="pass"type="password" id="pass" class="form-control rounded-1 "  />

            </div>
            <div class="form-field">
                <label class="txt-right hide-xs" for="Confirm Password">Confirm Password</label>
                <input name ="Confirm_Pass" type="password" id="confpass" class="form-control rounded-1 " />

            </div>
            <button class="btn shadow-1 rounded-1 blue">Validate </button>
        </form>
    </div>
    {% for cle, value in  app.session.flashBag.get('error') %}
            <div class="alert alert-info">
                {{ value }}
            </div>
    {% endfor %}
</div>

{% endblock %}
