{% extends 'account_details/user.html.twig' %}

{% block title %}
    Articles
{% endblock %}

{% block main %}
    <div class="container">
        <h1 style="color: white">My Articles</h1>
        <br>
            {% for article in articles %}
                <div class="card" style="width: 100%;">
                    <h5 class="card-header">{{ article.title }}</h5>
                    <div class="card-body">
                        {% if article.content|length > 50 %}
                            <p class="card-text">{{ article.content|slice(0,100)|raw }} ...</p>
                        {% else %}
                            <p class="card-text">{{ article.content | raw }}</p>
                        {% endif %}
{#                        <a href="{{ path('Show_Post',{"article":article.id}) }}" class="btn btn-primary">View</a>#}
                    </div>
                </div>
                <br>
            {% endfor %}
    </div>
{% endblock %}
