{% extends 'base.html.twig' %}

{% block title %}User Profile{% endblock %}
{% block assets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@1.2.1/dist/css/axentix.min.css">
{% endblock %}
{% block body %}
<body class="layout with-sidenav">
<div id="example-sidenav" data-ax="sidenav" class="sidenav shadow-1 large fixed white">
    <div class="sidenav-header">
        <button data-target="example-sidenav" class="sidenav-trigger"><i class="fas fa-times"></i></button>
        <img class="sidenav-logo dropshadow-1" src="your_img_path" alt="Logo"/>
    </div>
    <a href={{ path("profile")}} class="sidenav-link active">Profile</a>
    <a href="#" class="sidenav-link">Account</a>
    <a href="#" class="sidenav-link">Notifications</a>
    <a href="#" class="sidenav-link">Posts</a>
</div>
<main>
    {% block main %}
    {% endblock %}
    <button data-target="example-sidenav"
            class="btn rounded-1 press amaranth dark-1 sidenav-trigger hide-md-up">
        Open sidenav
    </button>
</main>
</body>
{% endblock %}
{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/axentix@1.2.1/dist/js/axentix.min.js"></script>
{% endblock %}

