{% extends 'base.html.twig' %}

{% block title %}Sign Up •Astronomy Magazine{% endblock %}

{% block body %}
    <form class=" form">
        <fieldset>
            <legend> <b>Create account</b></legend>
            <div class="form-group">
                <label for="exampleInputEmail1" required>First Name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter First Name">

            </div>
            <div class="form-group">
                <label for="exampleInputEmail1" required>Last Name </label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter Last Name">

            </div>
            <div class="form-group">
                <label form="text" required>Identifier</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter Id">

            </div>
            <div class="form-group">
                <label for="exampleInputEmail1" required>Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                       placeholder="Enter email">
            </div>
            <div class="form-group" id="mdp">
                <label required> Password</label>
                <input type="password" id="password" value="" minlength="8" class="form-control" placeholder="Password">
                <div class="invalid-feedback" id="warning" style=" font-size: 15px;"></div>
            </div>
            <div class="form-group">
                <label> Confirm Password</label>
                <input type="password" class="form-control" id="confirmPass" placeholder="Password">
                <div class="invalid-feedback" id="conf" style=" font-size: 15px;"></div>
            </div>
            <div class="form-group">
                <label for="text">Phone number</label>
                <input type="tel" class="form-control" placeholder="Phone">

            </div>
            <div class="form-group">
                <label>Zip Code</label>
                <input type="tel" class="form-control" placeholder="ZIP">

            </div>

            <div class="form-group">
                <label for="exampleSelect1">Educational Level</label>
                <select class="form-control" id="exampleSelect1">
                    <option>College</option>
                    <option>High School</option>
                    <option>Other</option>

                </select>

                <div class="form-group">
                    <label for="exampleTextarea">Additional information</label>
                    <textarea class="form-control" value="" id="exampleTextarea" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">Upload your Picture</label>
                    <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">

                </div>
                <div>
                    <div class="box">
                        <input id="checkbox" type="checkbox">
                        <span class="check"></span>
                        <label for="one">I agree to subscribe to magazine's newsletter</label>
                    </div>

                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
{% block scripts %}<script src= {{ asset('js/form-script.js') }}></script> {% endblock %}
{% block assets %}   <link rel="stylesheet" href={{ asset("css/formAssets.css") }}>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>{% endblock %}