{% extends 'base.html.twig' %}
{% block assets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/journal/bootstrap.min.css">
{% endblock %}
{% block title %}Add Article{% endblock %}
{% block body %}
    <div class="container">
        {{ form(form) }}
    </div>


{% endblock %}
